<h2>User Panel</h2>

hello is {{ hello }}.
{% if user.is_authenticated %}
            <p id="welcome-user">Welcome, {{ request.user.username }}</p>
            <p>First Name : {{ request.user.first_name }} </p>
            <p>Last Name : {{ request.user.last_name }} </p>
            <p>Email : {{ request.user.email }} </p>
            <p>Created At : {{ request.user.date_joined }} </p>

            <p>City : {{ user_profile.city }} </p>

            <img width="300px" src="{{ user_profile.profile_picture.url }}" />

            <ul>
                <li class="navbar-item">
                    <a href="{% url 'logout' %}" class="login-link">Logout</a>
                </li>
            </ul>
{% else %}
<p id="welcome-user">Need to Login</p>

<ul>
    <li class="navbar-item">
        <a href="{% url 'login' %}" class="login-link">Login</a>
    </li>
</ul>
{% endif %}
	</nav>