<h2>Create User Profile</h2>

<form action="{% url 'create_user_profile_data' %}" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <label for="city">City</label>
    <input type="text" name="city" id="city"  placeholder="city" />

    <label for="dob">Date of Birth</label>
    <input type="date" name="dob" id="dob" placeholder="date" />

    <label for="profile_picture">Profile Picture</label>
    <input type="file" name="profile_picture" id="profile_picture" placeholder="profile_picture" />

    
    <input type="submit" value="Create" />
</form>