<style>
    input{
        display: block;
    }
</style>
<h2>User Profile Edit</h2>

<form action="{% url 'update_user_profile_data' %}" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <label for="city">City</label>
    <input type="text" name="city" id="city" value="{{ user_profile.city }}" placeholder="city" />
    <label for="dob">Date of Birth</label>
    <input type="date" name="dob" id="dob" value="{{ user_profile.dob|date:'Y-m-d' }}"  placeholder="date" />
    <label for="profile_picture">Profile Picture</label>
    {% if user_profile.profile_picture %}
        <img width="50px" src="{{  user_profile.profile_picture.url }}" />
    {% endif %}
    <input type="file" name="profile_picture" id="profile_picture" placeholder="profile_picture" />
    
    <input type="submit" value="Update" />
</form>