{% extends "../layout/base_layout.html" %}

{% block body %}
    {% load static %}
    
    <!-- BEGIN: Content-->
    <div class="app-content content ">
        <div class="content-overlay"></div>
        <div class="header-navbar-shadow"></div>
        <div class="content-wrapper container-xxl p-0">
            
            <div class="content-body">

                <!-- Basic Vertical form layout section start -->
                <section id="basic-vertical-layouts">
                    <div class="row">
                        <div class="col-md-3 col-12">

                        </div>
                        <div class="col-md-6 col-12">
                            <div class="card">
                                <div class="card-header">
                                    <h4 class="card-title">Create Article</h4>
                                </div>
                                <div class="card-body">
                                    {% if messages %}
                                        <ul class="messages">
                                            {% for message in messages %}
                                            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                                            {% endfor %}
                                        </ul>
                                    {% endif %}
                                    <!-- file upload ပါတဲ့ Form တွေဆိုရင် enctype attribute value အနေနဲ့ ​multipart/form-data ထည့်ပေးဖို့ လိုမယ်။-->
                                    <form class="form form-vertical"  action="{% url 'store_article' %}" method="POST"  enctype="multipart/form-data">
                                        {% csrf_token %}
                                        <div class="row">
                                            <!-- About Input -->
                                            <div class="col-12">
                                                <div class="mb-1">
                                                    <label class="form-label" for="first-name-icon">Description</label>
                                                    <div class="input-group input-group-merge">
                                                        <span class="input-group-text"><i data-feather="user"></i></span>
                                                        <input type="text" id="first-name-icon" class="form-control" name="description" placeholder="description" />
                                                    </div>
                                                </div>
                                            </div>
                                            
                                            <!-- Profile Picture Input -->
                                            <div class="col-12">
                                                <div class="mb-1">
                                                    <label class="form-label" for="email-id-icon">media</label>
                                                    <div class="input-group input-group-merge">
                                                        <span class="input-group-text"><i data-feather="mail"></i></span>
                                                        <input type="file" id="email-id-icon" class="form-control" name="media"  />
                                                    </div>
                                                </div>
                                            </div>
                                            
                                            
                                            <div class="col-12">
                                                <button type="submit" class="btn btn-primary me-1">Submit</button>
                                                <button type="reset" class="btn btn-outline-secondary">Reset</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 col-12">
                            
                        </div>
                    </div>
                </section>
                <!-- Basic Vertical form layout section end -->
                

            </div>
        </div>
    </div>
    <!-- END: Content-->
{% endblock %}
