<h2>Article Detail</h2>

<table>
    <tr>
        <td>User</td>
        <td>{{ article.user_profile_info.user.username }} </td>
    </tr>
    <tr>
        <td>Profile</td>
        <td> <img src="{{ article.user_profile_info.profile_picture.url }}"  width="100px"/></td>
    </tr>
    <tr>
        <td>description</td>
        <td>{{ article.description }}</td>
    </tr>
    <tr>
        <td>media</td>
        <td> 
            {% if article.media|length > 0 %}
                <img src="{{ article.media.url }}" width="100px" />
            {% endif %}
        </td>
    </tr>
</table>

<a href="{% url 'edit_article' article.id %}" >Edit</a>
<a href="{% url 'delete_article' article.id %}" >Delete</a>