{% extends "../layout/base_layout.html" %}

{% block body %}
    {% load static %}
    
    <!-- BEGIN: Content-->
    <div class="app-content content ">
        <div class="content-overlay"></div>
        <div class="header-navbar-shadow"></div>
        <div class="content-wrapper container-xxl p-0">
            
            <div class="content-body">

                <!-- Basic Vertical form layout section start -->
                <section id="basic-vertical-layouts">
                    <div class="row">
                        <div class="col-md-3 col-12">

                        </div>
                        <div class="col-md-6 col-12">
                            <div class="card">
                                <div class="card-header">
                                    <h4 class="card-title">Create Profile</h4>
                                </div>
                                <div class="card-body">
                                    <form class="form form-vertical"  action="{% url 'store_profile' %}" >
                                        {% csrf_token %}
                                        <div class="row">
                                            <!-- About Input -->
                                            <div class="col-12">
                                                <div class="mb-1">
                                                    <label class="form-label" for="first-name-icon">About</label>
                                                    <div class="input-group input-group-merge">
                                                        <span class="input-group-text"><i data-feather="user"></i></span>
                                                        <input type="text" id="first-name-icon" class="form-control" name="about" placeholder="About" />
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- City Input -->
                                            <div class="col-12">
                                                <div class="mb-1">
                                                    <label class="form-label" for="first-name-icon">City</label>
                                                    <div class="input-group input-group-merge">
                                                        <span class="input-group-text"><i data-feather="user"></i></span>
                                                        <input type="text" id="first-name-icon" class="form-control" name="city" placeholder="City" />
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- Birthday Input -->
                                            <div class="col-12">
                                                <div class="mb-1">
                                                    <label class="form-label" for="email-id-icon">Birthday</label>
                                                    <div class="input-group input-group-merge">
                                                        <span class="input-group-text"><i data-feather="mail"></i></span>
                                                        <input type="date" id="email-id-icon" class="form-control" name="birthday" placeholder="2002-02-02" />
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- Profile Picture Input -->
                                            <div class="col-12">
                                                <div class="mb-1">
                                                    <label class="form-label" for="email-id-icon">Profile Picture</label>
                                                    <div class="input-group input-group-merge">
                                                        <span class="input-group-text"><i data-feather="mail"></i></span>
                                                        <input type="file" id="email-id-icon" class="form-control" name="profile_picture" placeholder="2002-02-02" />
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- Cover Picture Input -->
                                            <div class="col-12">
                                                <div class="mb-1">
                                                    <label class="form-label" for="email-id-icon">Cover Picture</label>
                                                    <div class="input-group input-group-merge">
                                                        <span class="input-group-text"><i data-feather="mail"></i></span>
                                                        <input type="file" id="email-id-icon" class="form-control" name="cover_picture" placeholder="2002-02-02" />
                                                    </div>
                                                </div>
                                            </div>
                                            
                                            
                                            <div class="col-12">
                                                <button type="submit" class="btn btn-primary me-1">Submit</button>
                                                <button type="reset" class="btn btn-outline-secondary">Reset</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 col-12">
                            
                        </div>
                    </div>
                </section>
                <!-- Basic Vertical form layout section end -->
                

            </div>
        </div>
    </div>
    <!-- END: Content-->
{% endblock %}
